<div class = "class-button"><a href="ClassPage.html">
    <div class = "class-image"><img src="<%=classImage%>" alt="placeholder"></div>
    <div class = "class-text">
        <p><%=className1%></p>
    </div>       
</a></div>