<div class = "class-button"><a href="ClassPage.html">
    <div class = "class-image"><img src=<%= "images/"+className+".jpg"%> alt="placeholder"></div>
    <div class = "class-text">
        <p><%=className%></p>
    </div>       
</a></div>

