<div class = "class-button"><a href="ClassPage.html">
<<<<<<< Updated upstream
    <div class = "class-image"><img src="<%=classImage%>" alt="placeholder"></div>
=======
    <div class = "class-image"><img src=<%= "images/"+className+".jpg"%> alt="placeholder"></div>
>>>>>>> Stashed changes
    <div class = "class-text">
        <p><%=className%></p>
    </div>       
</a></div>

