<div class = "class-button"><a href="/class/"+<%className%> >
    <div class = "class-image"><img src=<%= "images/"+className+".jpg"%> alt="placeholder"></div>
    <div class = "class-text">
        <p><%=className%></p>
    </div>       
</a></div>