@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    background-color: aqua;
    margin: 0;
    font-family: Roboto;
}
.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid green;
    background-color: white;
    color: blue;
}
.homePage {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
}
.class-button {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column; 
    
}
.class-text {
    font-size: calc(1rem + 1.2vw);
    border: 1px solid blue;
}
.class-image {
    border: 1px solid blue;
    width: 100%;
}
/*for class button and class image it needs to be variable that I can set*/