<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Unite Schoology thing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <div class = "navBar">
            <h2 class = "nav-text"><a href="HomePage.html">Home</a></h2>
            <h2 class = "nav-text"><a href="">Calendor</a></h2>
            <h2 class = "nav-text"><a href="">To-dos</a></h2>
            <h2 class = "nav-text"><a href="">Grades</a></h2>
        </div>
        <div class = "homePage">
            <!--  Use variable for image -->

   
            </div>
        </div>
    </body>
</html>