<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Unite Schoology thing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous"> !-->
        <link rel="stylesheet" href="../style.css" defer>
    </head>
    <body>
        <div class = "navBar">
            <h2 class = "nav-text"><a src="">Home</a></h2>
            <h2 class = "nav-text"><a src="">Calender</a></h2>
            <h2 class = "nav-text"><a src="">To-dos</a></h2>
            <h2 class = "nav-text"><a src="">Grades</a></h2>
        </div>
        <div class = "ClassPage">
            <div class="Gradeshower"></div>
            <div class="AssignmentShower">
        </div>
    </body>
</html>