<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Optimum Academics</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        
    </head>
    <body>
        <div class = "navBar">
            <h2 class = "nav-text"><a href="/home">Home</a></h2>
            <h2 class = "nav-text"><a href="/calendar">Calendar</a></h2>
            <h2 class = "nav-text"><a href="/todo">To-dos</a></h2>
            <h2 class = "nav-text"><a href="/grades">Grades</a></h2>
        </div>
        <div class = "Todo">
          <div class = "Assignment"><p class = "assignmentTxt"><strong>Math test</strong></p><p class = "dueDate">10/24/22</p></div>
        </div>
        <div class = "Todo">
            <div class = "Assignment"><p class = "assignmentTxt"><strong>Spanish Unit 7 homework</strong></p><p class = "dueDate">10/24/22</p></div>
          </div>
          <div class = "Todo">
            <div class = "Assignment"><p class = "assignmentTxt"><strong>History assignment 17</strong></p><p class = "dueDate">11/1/23</p></div>
          </div>
          <div class = "Todo">
            <div class = "Assignment"><p class = "assignmentTxt"><strong>detention</strong></p><p class = "dueDate">11/2/23</p></div>
          </div>
          <div class = "Todo">
            <div class = "Assignment"><p class = "assignmentTxt"><strong>remembering your backslashes</strong></p><p class = "dueDate">7/17/23</p></div>
          </div>
    </body>
</html>